Dify-DSL/LL-段落高光生图-线上版.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: LL-段落高光生图
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.15@725407927b04e236212083d20e92830d60fa944e42cd357ef6902c160414f6f1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 600
        batch_count_limit: 5
        file_size_limit: 600
        image_file_batch_limit: 10
        image_file_size_limit: 600
        single_chunk_attachment_limit: 10
        video_file_size_limit: 600
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1778479530920-source-1778738083884-target
      selected: false
      source: '1778479530920'
      sourceHandle: source
      target: '1778738083884'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1778738083884-source-1778480765888-target
      selected: false
      source: '1778738083884'
      sourceHandle: source
      target: '1778480765888'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1778480765888-source-1778480914080-target
      selected: false
      source: '1778480765888'
      sourceHandle: source
      target: '1778480914080'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1778480918522-source-17788285107480-target
      source: '1778480918522'
      sourceHandle: source
      target: '17788285107480'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 17788285107480-source-1778480992895-target
      source: '17788285107480'
      sourceHandle: source
      target: '1778480992895'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1778480992895-source-1778563203456-target
      source: '1778480992895'
      sourceHandle: source
      target: '1778563203456'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1778563203456-false-17791764072960-target
      source: '1778563203456'
      sourceHandle: 'false'
      target: '17791764072960'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: end
      id: 1778479530920-source-1779259822682-target
      source: '1778479530920'
      sourceHandle: source
      target: '1779259822682'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1778563203456-true-17791754834580-target
      source: '1778563203456'
      sourceHandle: 'true'
      target: '17791754834580'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1778480914080-source-1779357369493-target
      source: '1778480914080'
      sourceHandle: source
      target: '1779357369493'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1779357369493-true-1779357392354-target
      source: '1779357369493'
      sourceHandle: 'true'
      target: '1779357392354'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1779357392354-true-17793574581840-target
      source: '1779357392354'
      sourceHandle: 'true'
      target: '17793574581840'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1779357392354-false-17793576335160-target
      source: '1779357392354'
      sourceHandle: 'false'
      target: '17793576335160'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1779357369493-false-1779444863547-target
      source: '1779357369493'
      sourceHandle: 'false'
      target: '1779444863547'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1779444863547-source-1778480918522-target
      source: '1779444863547'
      sourceHandle: source
      target: '1778480918522'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 书籍id
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: book_id
        - default: ''
          hint: ''
          label: 章节id
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: chapter_id
        - default: ''
          hint: ''
          label: 段落id
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: paragraph_id
        - default: ''
          hint: ''
          label: 段落内容
          max_length: 100000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: paragraph_content
        - default: ''
          hint: ''
          label: 请求id
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: request_id
        - default: '0'
          hint: ''
          label: 是否测试
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: number
          variable: is_test
        - default: ''
          hint: ''
          label: 章节序号
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: chapter_sort
        - default: '0'
          hint: ''
          label: 是否测试环境
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: is_test_env
      height: 291
      id: '1778479530920'
      position:
        x: 32.00172424316406
        y: 127.0017318725586
      positionAbsolute:
        x: 32.00172424316406
        y: 127.0017318725586
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: bfa86a63-6a84-4362-bc41-f2758a8592b6
          role: system
          text: '角色设定

            你是一位严苛的AI绘画视觉总监。你的核心职责是“去伪存真”。你需要透过文字的表面含义，无情地审视其是否包含可被渲染的视觉实体。

            核心原则： AI绘图模型（如Midjourney/Stable Diffusion）只能画“看得到的东西”（人物、颜色、形状、光影、物体），不能画“听得到的口号”或“感受到的气势”。

            任务目标

            我将提供一段文本（高光段落）。请基于“视觉可执行性”对其进行残酷的打分。

            警惕陷阱： 如果一段文字只有宏大的口号（如“我为主宰”）、抽象的概念（如“无尽的悲伤”）或纯对话，而缺乏具体的外貌、环境、动作描写，必须判定为低分。

            评估维度（请严格按此逻辑思考）

            视觉实体密度（关键项）： 文中是否有具体的名词？（如：染血的长剑、破碎的琉璃瓦、赛博朋克的霓虹灯）。如果没有具体名词，只有抽象名词（如：尊严、命运、主宰），直接判为低分。

            画面静态化能力： 这段文字能否定格为一张静态图片？如果文字描述的是长时间跨度的过程（“他思考了三天三夜”）或纯心理活动，无法生图。

            主体与构图： 主角是谁？他在做什么？背景在哪里？如果三者缺一（例如只有台词没有背景），画面将极其空洞。

            风格化潜力： 是否包含光影、色彩、材质的描述？（如：冷冽的蓝光、粗糙的质感）。

            评分标准（1-10分）

            1-3分（视觉废料）： 纯对话、纯口号（如“我要逆天”）、纯心理描写、抽象概念堆砌。特征：模型只能瞎编画面，无法还原文字本意。

            4-6分（勉强可用）： 有基本的人物和场景，但缺乏细节（如“一个人站在山上”）。画面平庸，缺乏张力。

            7-8分（优质素材）： 有明确的动作、具体的服饰特征、清晰的环境描写。模型能生成符合预期的图片。

            9-10分（视觉盛宴）： 极具画面冲击力的描写。包含独特的光影、复杂的构图、细腻的细节（如“残阳如血，映照在他破碎的金色铠甲上”）。

            输出格式

            请严格按照以下结构输出评估报告：

            综合评分： [分数]

            判定结果： [强烈推荐 / 推荐 / 一般 / 不推荐]

            '
        - id: 3eec59b5-f770-4407-9a1e-4b515551e38b
          role: user
          text: '章节上下文：{{#1778738083884.text#}}

            高光段落：{{#1778479530920.paragraph_content#}}'
        selected: false
        title: 无价值段落过滤
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1778480765888'
      position:
        x: 637.0017242431641
        y: 148.0017318725586
      positionAbsolute:
        x: 637.0017242431641
        y: 148.0017318725586
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\ndef main(arg1: str):\n    is_valid = 1\n    if '不推荐' in arg1:\n \
          \       is_valid = 0\n    return {\n        \"is_valid\": is_valid\n   \
          \ }\n"
        code_language: python3
        outputs:
          is_valid:
            children: null
            type: number
        selected: false
        title: is_valid赋值
        type: code
        variables:
        - value_selector:
          - '1778480765888'
          - text
          value_type: string
          variable: arg1
      height: 52
      id: '1778480914080'
      position:
        x: 933.3809792685386
        y: 148.0017318725586
      positionAbsolute:
        x: 933.3809792685386
        y: 148.0017318725586
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 01b863df-0493-405f-804c-9009ae02b0d3
          role: system
          text: '角色设定

            你是一位专业的电影级视觉提示词设计师（Prompt Designer）与叙事画面导演，精通视觉艺术、镜头语言、人物塑造与大语言模型生图提示词工程。你能够精准理解小说情节、人物情绪与场景氛围，并将文字内容转化为具备电影感、叙事感与视觉冲击力的高质量图像生成提示词。


            任务目标

            我将提供以下两部分内容：

            1. 章节上下文：用于理解故事背景、人物关系、环境氛围与情绪基调。

            2. 高光段落：需要被转化为单幅静态画面的核心内容。


            请基于以上内容，为“高光段落”生成一段适用于AI绘图模型（如 Midjourney、SDXL、Flux、DALL·E）的高质量中文生图提示词。


            创作规则

            必须严格遵守以下要求：

            - 仅描绘高光段落当前瞬间的静态画面，不允许时间流动描述。

            - 不允许多镜头、多分镜、多画面拼接。

            - 不允许新增原文中不存在的人物、道具或设定。

            - 不允许脑补剧情。

            - 禁止任何血腥、伤口、肢体破坏、暴力攻击、死亡细节。

            - 禁止任何过分裸露、擦边、低俗、性暗示、挑逗性描写。

            - 禁止敏感内容、违法内容、恐怖猎奇内容。

            - 画面应具备电影感、氛围感与高级审美。

            - 优先突出人物情绪、环境氛围与镜头表现力。

            - 提示词必须适合直接用于AI绘图，不要出现解释性语言。


            提示词必须包含以下核心维度：

            镜头类型 (Lens Type)

            中文：[镜头距离]，[拍摄角度]。

            示例：电影级中景镜头 (Cinematic medium shot)、低角度仰拍 (Low angle view)。

            镜头瞬间 (Lens Moment)

            中文：捕捉[具体事件]发生的关键瞬间。

            示例：捕捉英雄落地瞬间 (Capturing the moment the hero lands)。

            当前动作 (Current Action)

            中文：角色正在[具体的、非暴力的动作]，姿态[形容词]。

            避坑指南：避免“殴打”、“杀戮”等词，改用“防御”、“奔跑”、“对峙”、“施展魔法”等。

            表情和眼神 (Expression and Eyes)

            中文：面部表情[形容词]，眼神[形容词]，传达出[情绪]。

            示例：坚定的表情，锐利的眼神，传达出决心 (Determined expression, sharp eyes, conveying resolve)。

            服装 (Clothing)

            中文：身穿[具体的、得体的服装]，材质为[材质]，风格为[风格]。

            避坑指南：这是最容易触发 sexual 拦截的项！务必加上“得体”、“全覆盖”的描述，避免“紧身”、“暴露”、“透视”等词汇。

            伤势状态 (Injury Status)

            中文：[无受伤 / 带有轻微的、非血腥的战斗痕迹（如脸上的灰尘、衣服上的划痕）]。

            避坑指南：Azure 对 violence 拦截也很严，绝对不要出现“流血”、“断肢”、“内脏”等词，用“灰尘”、“划痕”、“疲惫”代替。

            环境 (Environment)

            中文：背景是[具体的场景]，光线为[光线描述]。

            示例：赛博朋克风格的街道，霓虹灯光 (Cyberpunk street, neon lighting)。

            关系张力 (Relationship Tension)

            中文：与周围环境/其他角色呈现出[具体的张力描述]。

            示例：紧张的对峙氛围 (Tense confrontation atmosphere)。

            氛围关键词 (Atmosphere Keywords)

            中文：[精神状态]，[环境]，[心情]。

            必加安全后缀：safe for work, no nudity, no gore, modest clothing, masterpiece,
            best quality。


            最终效果：

            {{#1779444863547.book_des#}}



            输出要求

            输出内容必须严格按照以下格式，仅输出10行，不允许添加任何解释、序号、前后缀或额外内容：


            人物角色：

            镜头类型：

            镜头瞬间：

            当前动作：

            表情和眼神：

            服装：

            伤势状态：

            环境：

            关系张力：

            氛围关键词：

            '
        - id: 1d0396db-2552-4bad-a25c-52b982528544
          role: user
          text: '高光段落：{{#1778479530920.paragraph_content#}}

            章节内容：{{#1778738083884.content#}}'
        selected: false
        title: 生成段落描述
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1778480918522'
      position:
        x: 912.0017242431641
        y: 344.0017318725586
      positionAbsolute:
        x: 912.0017242431641
        y: 344.0017318725586
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "from __future__ import annotations\n\nimport re\nfrom typing import\
          \ Optional, Tuple, Dict\nimport requests\n\nbase_url='https://cdn-wtzw-com.oss-cn-beijing.aliyuncs.com/highlight_gen_pic/role_pic/'\n\
          _CONTENT_RANGE_RE = re.compile(r\"^bytes\\s+(\\d+)-(\\d+)/(\\d+|\\*)$\"\
          , re.IGNORECASE)\n\ndef url_exists_by_range(\n    url: str,\n    timeout:\
          \ float = 5.0,\n    allow_redirects: bool = True,\n    headers: Optional[Dict[str,\
          \ str]] = None,\n    session: Optional[requests.Session] = None,\n) -> bool:\n\
          \    \"\"\"\n    模拟：\n      curl -L --max-time 5 -H \"Range: bytes=0-0\"\
          \ -o /dev/null -s -D - <url>\n\n    返回：(exists, status_code, resp_headers,\
          \ reason)\n    \"\"\"\n    s = session or requests.Session()\n\n    h =\
          \ {\n        \"Range\": \"bytes=0-0\",\n        \"User-Agent\": \"url-checker/1.0\"\
          ,\n        \"Accept\": \"*/*\",\n    }\n    if headers:\n        h.update(headers)\n\
          \n    try:\n        # stream=True：避免 requests 预读更多内容\n        r = s.get(url,\
          \ headers=h, timeout=timeout, allow_redirects=allow_redirects, stream=True)\n\
          \        status = r.status_code\n        resp_headers = {k: v for k, v in\
          \ r.headers.items()}\n\n        # 1) 最理想：206 + Content-Range: bytes 0-0/total\n\
          \        if status == 206:\n            cr = r.headers.get(\"Content-Range\"\
          , \"\")\n            m = _CONTENT_RANGE_RE.match(cr.strip())\n         \
          \   if not m:\n                return False\n            start, end, total\
          \ = m.group(1), m.group(2), m.group(3)\n            if start != \"0\" or\
          \ end != \"0\":\n                return False\n            if total.isdigit()\
          \ and int(total) > 0:\n                return True\n            # total\
          \ 可能是 '*'，此时也可认为存在\n            if total == \"*\":\n                return\
          \ True\n            return False\n\n        # 2) 服务器忽略 Range 也可能返回 200（仍然算存在）\n\
          \        if status == 200:\n            return True\n\n        # 3) 常见“存在但不支持\
          \ Range”返回 416（需要进一步降级普通 GET/HEAD 才能确认）\n        if status == 416:\n   \
          \         return False\n\n        # 4) 其它状态一般认为不存在/不可访问（403 可能是防盗链/鉴权，不等于不存在）\n\
          \        return False\n\n    except requests.RequestException as e:\n  \
          \      return False\n    finally:\n        try:\n            r.close() \
          \ # type: ignore[name-defined]\n        except Exception:\n            pass\n\
          def main(book_id: int, role_title: str, describe: str):\n    role_list =\
          \ []\n    title =''\n    if len(role_title.split('\\n'))>1:\n        temp\
          \ = role_title.split('\\n')\n        if len(temp[0].split(':'))>1:\n   \
          \         role_list = temp[0].split(':')[1].split(',')\n        if len(temp[1].split(':'))>1:\n\
          \            title = temp[1].split(':')[1]\n    \n    role_url_describe=''\n\
          \    url_str = ''\n    role_url = []\n    role_valid = []\n    if len(role_list)>0:\n\
          \        i = 0\n        for index, value in  enumerate(role_list):\n   \
          \         path = base_url+str(book_id)+'_'+value+'.png'\n            if\
          \ url_exists_by_range(path):\n                i += 1\n                role_url.append(path)\n\
          \                role_valid.append('第'+str(i)+'张图是'+value)\n    if len(role_url)>0:\n\
          \        url_str = '\\n'.join(role_url)\n        role_url_describe = ';'.join(role_valid)\n\
          \    \n    prompt='请根据如下描述生成一张图，' + describe +'\\n'+'固定画风要求：国漫画风，画面明亮，半写实二次元，线条干净，质感细腻'\
          \ +'\\n'+'我将提供全部或部分角色的人物形象图片，请严格参考提供的角色形象：'+role_url_describe+'\\n'+'我将提供全部或部分角色的人物画像：'\
          \ \n\n\n\n\n\n    return {\n        \"role_url\": url_str,\n        \"role_list\"\
          : role_list,\n        \"prompt\": prompt,\n        \"highlight_content\"\
          : title\n    }"
        code_language: python3
        outputs:
          highlight_content:
            children: null
            type: string
          prompt:
            children: null
            type: string
          role_list:
            children: null
            type: array[string]
          role_url:
            children: null
            type: string
        selected: false
        title: 获取底图、画像
        type: code
        variables:
        - value_selector:
          - '1778479530920'
          - book_id
          value_type: number
          variable: book_id
        - value_selector:
          - '17788285107480'
          - text
          value_type: string
          variable: role_title
        - value_selector:
          - '1778480918522'
          - text
          value_type: string
          variable: describe
      height: 52
      id: '1778480992895'
      position:
        x: 1563.43942280907
        y: 327.56523514684886
      positionAbsolute:
        x: 1563.43942280907
        y: 327.56523514684886
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: b108e226-c1b9-475b-bc96-ba278666dd84
            value: '1'
            varType: number
            variable_selector:
            - '1778479530920'
            - is_test_env
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 2
        type: if-else
      height: 124
      id: '1778563203456'
      position:
        x: 1217.3220531469583
        y: 657.7675674650302
      positionAbsolute:
        x: 1217.3220531469583
        y: 657.7675674650302
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: 书籍ID
            ja_JP: 书籍ID
            pt_BR: 书籍ID
            zh_Hans: 书籍ID
          label:
            en_US: book_id
            ja_JP: book_id
            pt_BR: book_id
            zh_Hans: book_id
          llm_description: 书籍ID
          max: null
          min: null
          name: book_id
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: 起始章节（从1开始）
            ja_JP: 起始章节（从1开始）
            pt_BR: 起始章节（从1开始）
            zh_Hans: 起始章节（从1开始）
          label:
            en_US: start_chapter
            ja_JP: start_chapter
            pt_BR: start_chapter
            zh_Hans: start_chapter
          llm_description: 起始章节（从1开始）
          max: null
          min: null
          name: start_chapter
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: 结束章节
            ja_JP: 结束章节
            pt_BR: 结束章节
            zh_Hans: 结束章节
          label:
            en_US: end_chapter
            ja_JP: end_chapter
            pt_BR: end_chapter
            zh_Hans: end_chapter
          llm_description: 结束章节
          max: null
          min: null
          name: end_chapter
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: item_type
            ja_JP: item_type
            pt_BR: item_type
            zh_Hans: item_type
          llm_description: ''
          max: null
          min: null
          name: item_type
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: false
          scope: null
          template: null
          type: number
        params:
          book_id: ''
          end_chapter: ''
          item_type: ''
          start_chapter: ''
        plugin_id: null
        plugin_unique_identifier: null
        provider_icon:
          background: '#E6F4D7'
          content: book
        provider_id: 1f1d0a7c-eedb-446e-be0e-a887b71cd1db
        provider_name: 获取书库书籍章节内容
        provider_type: workflow
        selected: false
        title: 获取书库书籍章节内容
        tool_configurations:
          book_id:
            type: variable
            value:
            - '1778479530920'
            - book_id
          end_chapter:
            type: variable
            value:
            - '1778479530920'
            - chapter_sort
          start_chapter:
            type: variable
            value:
            - '1778479530920'
            - chapter_sort
        tool_description: 根据书籍ID、起始章节和结束张杰获取书库书籍相应章节的内容
        tool_label: 获取书库书籍章节内容
        tool_name: get_book_chapter_content
        tool_node_version: '2'
        tool_parameters:
          item_type:
            type: constant
            value: 1
        type: tool
      height: 140
      id: '1778738083884'
      position:
        x: 340.34110513050825
        y: 148.0017318725586
      positionAbsolute:
        x: 340.34110513050825
        y: 148.0017318725586
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 01b863df-0493-405f-804c-9009ae02b0d3
          role: system
          text: '你是一位资深的文学内容分析师与实体识别专家。你擅长从一段文本中，以及给出的上下文信息中，提取出所有涉及的角色名称，和擅长提炼文本内容，为文本取一个高度精炼的标题。


            任务目标

            我将提供两部分文本内容：

            章节上下文：用于帮助你理解当前的故事背景、环境氛围和人物关系。

            高光段落：这是需要被转化为画面的核心内容。

            你的核心任务是从【高光段落】中，精准提取出涉及到的所有角色，和用15个字以内标题。

            要求如下：

            提取目标：只提取【目标描述片段】中实际出现或被明确指代的角色。

            提取标题：在理解【章节全文内容】的基础上，对【目标描述片段】进行高度概括，生成15个字以内的标题。

            名称规范：必须输出角色的全名。如果片段中只出现了代词（如“他”、“她”）或昵称，请务必结合【章节全文】的上下文推断出其正式全名。

            排除干扰：不要提取未在片段中出现的角色，也不要提取非角色实体（如地点、物品）。

            输出格式：角色请直接以列表形式输出角色名，不要包含任何多余的解释或废话。标题内容请直接以直接输出标题内容，不要有其他解释和废话。

            输出结果：

            角色:容烁,云筝（在此处列出角色名，多个用“,”隔开，如果没有则为空）

            标题:阿良出场


            '
        - id: 1d0396db-2552-4bad-a25c-52b982528544
          role: user
          text: '高光段落：{{#1778479530920.paragraph_content#}}

            章节上下文：{{#1778738083884.content#}}'
        selected: false
        title: 获取生图角色和标题
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17788285107480'
      position:
        x: 1247.810175368324
        y: 327.56523514684886
      positionAbsolute:
        x: 1247.810175368324
        y: 327.56523514684886
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-764
            key: ''
            type: text
            value: "{   \"app_id\": \"img2img-gen\",  \n  \"is_valid\":{{#1778480914080.is_valid#}},\n\
              \ \"img_inputs\": { \n    \"prompt\": {{#1778480992895.prompt#}},  \
              \  \n \"neg_prompt\": \"模糊，低分辨率，变形的手\",  \n   \"ref_image_urls\": {{#1778480992895.role_url#}},\
              \     \n\"width\": \"768\",     \"height\": \"1024\",   \n  \"num_images_per_prompt\"\
              : \"1\",   \n  \"quality\": \"medium\",    \n   \"gen_user\": \"system\"\
              ,  \n   \"image_gen_timeout\": \"360\"   ,\n    \"implicit_id_enabled\"\
              : true, \n    \"implicit_provider_code\":\"\",\n    \"implicit_produce_id\"\
              :\"\",\n    \"oss_upload_enabled\": true, \n    \"oss_bucket\": \"aliyuntestoss\"\
              ,\n    \"oss_path\": \"\" ,\n    \"output_format\": \"jpeg\",\n    \
              \ \"output_compression\": 70\n},   \"callback\": {     \"url\": \"https://api-cmnt-inner.wtzw.com/api/v1/paragraph/ip-highlight/algo-callback\"\
              ,     \"method\": \"POST\",   \n  \"request_id\": \"{{#1778479530920.request_id#}}\"\
              ,     \n\"book_id\": {{#1778479530920.book_id#}},   \n  \"chapter_id\"\
              : \"{{#1778479530920.chapter_id#}}\",     \n\"paragraph_id\": \"{{#1778479530920.paragraph_id#}}\"\
              ,   \n  \"highlight_image_url\":'',   \n  \"role_list\": {{#1778480992895.role_list#}}\
              \ ,   \n \"highlight_content\": \"{{#1778480992895.highlight_content#}}\"\
              \ \n },   \"oss\": {\n\"bucket\": \"aliyuntestoss\",     \"path\": \"\
              img2img/2026/05/18/\"   },   \"metadata\": {     \"source\": \"novel-highlight\"\
              ,     \"callback_gen_field\": \"highlight_image_url\"   \n} \n}"
          type: json
        headers: 'accept:application/json

          Content-Type:application/json'
        method: POST
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: false
          retry_interval: 100
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 测试-kafka
        type: http-request
        url: http://api-ai-flow-t2.qmniu.com/api/v1/kafka/produce
        variables: []
      height: 108
      id: '17791754834580'
      position:
        x: 1643.0075211596934
        y: 657.7675674650302
      positionAbsolute:
        x: 1643.0075211596934
        y: 657.7675674650302
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-764
            key: ''
            type: text
            value: "{   \"app_id\": \"img2img-gen\",  \n    \"is_valid\":{{#1778480914080.is_valid#}},\n\
              \ \"img_inputs\": { \n    \"prompt\": {{#1778480992895.prompt#}},  \
              \  \n \"neg_prompt\": \"模糊，低分辨率，变形的手\",  \n   \"ref_image_urls\": {{#1778480992895.role_url#}},\
              \     \n\"width\": \"768\",     \"height\": \"1024\",   \n  \"num_images_per_prompt\"\
              : \"1\",   \n  \"quality\": \"medium\",    \n \"output_format\": \"\
              jpeg\",  \n     \"output_compression\": 70,\n   \"gen_user\": \"system\"\
              ,  \n   \"image_gen_timeout\": \"360\"   ,\n    \"implicit_id_enabled\"\
              : true, \n    \"implicit_provider_code\":\"\",\n    \"implicit_produce_id\"\
              :\"\",\n    \"oss_upload_enabled\": true, \n    \"oss_bucket\": \"aliyuntestoss\"\
              ,\n    \"oss_path\": \"\" \n},   \"callback\": {     \"url\": \"https://api-cmnt-inner.wtzw.com/api/v1/paragraph/ip-highlight/algo-callback\"\
              ,     \"method\": \"POST\",   \n  \"request_id\": \"{{#1778479530920.request_id#}}\"\
              ,     \n\"book_id\": {{#1778479530920.book_id#}},   \n  \"chapter_id\"\
              : \"{{#1778479530920.chapter_id#}}\",     \n\"paragraph_id\": \"{{#1778479530920.paragraph_id#}}\"\
              ,   \n  \"highlight_image_url\":'',   \n  \"role_list\": {{#1778480992895.role_list#}},\
              \    \n \"highlight_content\": \"{{#1778480992895.highlight_content#}}\"\
              \n },   \"oss\": {     \"bucket\": \"aliyuntestoss\",     \"path\":\
              \ \"img2img/2026/05/18/\"   },   \"metadata\": {     \"source\": \"\
              novel-highlight\",     \"callback_gen_field\": \"highlight_image_url\"\
              \   } }"
          type: json
        headers: 'accept:application/json

          Content-Type:application/json'
        method: POST
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: false
          retry_interval: 100
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: online-kafka
        type: http-request
        url: http://api-ai-flow.qmniu.com/api/v1/kafka/produce
        variables: []
      height: 108
      id: '17791764072960'
      position:
        x: 1643.0075211596934
        y: 803.0187114958313
      positionAbsolute:
        x: 1643.0075211596934
        y: 803.0187114958313
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1778479530920'
          - paragraph_id
          value_type: string
          variable: request_id
        selected: false
        title: 输出 2
        type: end
      height: 88
      id: '1779259822682'
      position:
        x: 373.78035177020683
        y: 381.5912261858948
      positionAbsolute:
        x: 373.78035177020683
        y: 381.5912261858948
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: b70b0bee-eda6-4283-9aef-39aef70ef783
            value: '0'
            varType: number
            variable_selector:
            - '1778480914080'
            - is_valid
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 2
        type: if-else
      height: 124
      id: '1779357369493'
      position:
        x: 1229.0349176545515
        y: 95.12991812845232
      positionAbsolute:
        x: 1229.0349176545515
        y: 95.12991812845232
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 9ba491b8-d1bd-475c-ae31-34406173676d
            value: '1'
            varType: number
            variable_selector:
            - '1778479530920'
            - is_test_env
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 3
        type: if-else
      height: 124
      id: '1779357392354'
      position:
        x: 1539.752708806748
        y: 106.49764219499608
      positionAbsolute:
        x: 1539.752708806748
        y: 106.49764219499608
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-764
            key: ''
            type: text
            value: "{   \"app_id\": \"img2img-gen\",  \n  \"is_valid\":{{#1778480914080.is_valid#}},\n\
              \ \"img_inputs\": { \n    \"prompt\": '',    \n \"neg_prompt\": \"模糊，低分辨率，变形的手\"\
              ,  \n   \"ref_image_urls\": '',     \n\"width\": \"768\",     \"height\"\
              : \"1024\",   \n  \"num_images_per_prompt\": \"1\",   \n  \"quality\"\
              : \"medium\",    \n   \"gen_user\": \"system\",  \n   \"image_gen_timeout\"\
              : \"120\"   ,\n    \"implicit_id_enabled\": true, \n    \"implicit_provider_code\"\
              :\"\",\n    \"implicit_produce_id\":\"\",\n    \"oss_upload_enabled\"\
              : true, \n    \"oss_bucket\": \"aliyuntestoss\",\n    \"oss_path\":\
              \ \"\" ,\n    \"output_format\": \"jpeg\",\n     \"output_compression\"\
              : 90\n},   \"callback\": {     \"url\": \"https://api-cmnt-inner.wtzw.com/api/v1/paragraph/ip-highlight/algo-callback\"\
              ,     \"method\": \"POST\",   \n  \"request_id\": \"{{#1778479530920.request_id#}}\"\
              ,     \n\"book_id\": {{#1778479530920.book_id#}},   \n  \"chapter_id\"\
              : \"{{#1778479530920.chapter_id#}}\",     \n\"paragraph_id\": \"{{#1778479530920.paragraph_id#}}\"\
              ,   \n  \"highlight_image_url\":'',   \n  \"role_list\": [],    \n \"\
              highlight_content\": ''\n },   \"oss\": {\n\"bucket\": \"aliyuntestoss\"\
              ,     \"path\": \"img2img/2026/05/18/\"   },   \"metadata\": {     \"\
              source\": \"novel-highlight\",     \"callback_gen_field\": \"highlight_image_url\"\
              \   \n} \n}"
          type: json
        headers: 'accept:application/json

          Content-Type:application/json'
        method: POST
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: false
          retry_interval: 100
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 测试-kafka-invalid
        type: http-request
        url: http://api-ai-flow-t2.qmniu.com/api/v1/kafka/produce
        variables: []
      height: 108
      id: '17793574581840'
      position:
        x: 1867.6807971861747
        y: 100.81194831449051
      positionAbsolute:
        x: 1867.6807971861747
        y: 100.81194831449051
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-764
            key: ''
            type: text
            value: "{   \"app_id\": \"img2img-gen\",  \n    \"is_valid\":{{#1778480914080.is_valid#}},\n\
              \ \"img_inputs\": { \n    \"prompt\": '',    \n \"neg_prompt\": \"模糊，低分辨率，变形的手\"\
              ,  \n   \"ref_image_urls\": '',     \n\"width\": \"768\",     \"height\"\
              : \"1024\",   \n  \"num_images_per_prompt\": \"1\",   \n  \"quality\"\
              : \"medium\",    \n \"output_format\": \"jpeg\",  \n     \"output_compression\"\
              : 90,\n   \"gen_user\": \"system\",  \n   \"image_gen_timeout\": \"\
              120\"   ,\n    \"implicit_id_enabled\": true, \n    \"implicit_provider_code\"\
              :\"\",\n    \"implicit_produce_id\":\"\",\n    \"oss_upload_enabled\"\
              : true, \n    \"oss_bucket\": \"aliyuntestoss\",\n    \"oss_path\":\
              \ \"\" \n},   \"callback\": {     \"url\": \"https://api-cmnt-inner.wtzw.com/api/v1/paragraph/ip-highlight/algo-callback\"\
              ,     \"method\": \"POST\",   \n  \"request_id\": \"{{#1778479530920.request_id#}}\"\
              ,     \n\"book_id\": \"{{#1778479530920.book_id#}}\",   \n  \"chapter_id\"\
              : \"{{#1778479530920.chapter_id#}}\",     \n\"paragraph_id\":\"{{#1778479530920.paragraph_id#}}\"\
              ,   \n  \"highlight_image_url\":'',   \n  \"role_list\": [],    \n \"\
              highlight_content\": ''\n },   \"oss\": {     \"bucket\": \"aliyuntestoss\"\
              ,     \"path\": \"img2img/2026/05/18/\"   },   \"metadata\": {     \"\
              source\": \"novel-highlight\",     \"callback_gen_field\": \"highlight_image_url\"\
              \   } }"
          type: json
        headers: 'accept:application/json

          Content-Type:application/json'
        method: POST
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: false
          retry_interval: 100
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: online-kafka-invalid
        type: http-request
        url: http://api-ai-flow.qmniu.com/api/v1/kafka/produce
        variables: []
      height: 108
      id: '17793576335160'
      position:
        x: 1867.6807971861747
        y: 229.64615440198668
      positionAbsolute:
        x: 1867.6807971861747
        y: 229.64615440198668
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "from __future__ import annotations\n\nimport re\nfrom typing import\
          \ Optional, Tuple, Dict\nimport requests\n\nbase_url='https://cdn-wtzw-com.oss-cn-beijing.aliyuncs.com/highlight_gen_pic/book_info/'\n\
          _CONTENT_RANGE_RE = re.compile(r\"^bytes\\s+(\\d+)-(\\d+)/(\\d+|\\*)$\"\
          , re.IGNORECASE)\n\ndef url_exists_by_range(\n    url: str,\n    timeout:\
          \ float = 5.0,\n    allow_redirects: bool = True,\n    headers: Optional[Dict[str,\
          \ str]] = None,\n    session: Optional[requests.Session] = None,\n) -> bool:\n\
          \    \"\"\"\n    模拟：\n      curl -L --max-time 5 -H \"Range: bytes=0-0\"\
          \ -o /dev/null -s -D - <url>\n\n    返回：(exists, status_code, resp_headers,\
          \ reason)\n    \"\"\"\n    s = session or requests.Session()\n\n    h =\
          \ {\n        \"Range\": \"bytes=0-0\",\n        \"User-Agent\": \"url-checker/1.0\"\
          ,\n        \"Accept\": \"*/*\",\n    }\n    if headers:\n        h.update(headers)\n\
          \n    try:\n        # stream=True：避免 requests 预读更多内容\n        r = s.get(url,\
          \ headers=h, timeout=timeout, allow_redirects=allow_redirects, stream=True)\n\
          \        status = r.status_code\n        resp_headers = {k: v for k, v in\
          \ r.headers.items()}\n\n        # 1) 最理想：206 + Content-Range: bytes 0-0/total\n\
          \        if status == 206:\n            cr = r.headers.get(\"Content-Range\"\
          , \"\")\n            m = _CONTENT_RANGE_RE.match(cr.strip())\n         \
          \   if not m:\n                return False\n            start, end, total\
          \ = m.group(1), m.group(2), m.group(3)\n            if start != \"0\" or\
          \ end != \"0\":\n                return False\n            if total.isdigit()\
          \ and int(total) > 0:\n                return True\n            # total\
          \ 可能是 '*'，此时也可认为存在\n            if total == \"*\":\n                return\
          \ True\n            return False\n\n        # 2) 服务器忽略 Range 也可能返回 200（仍然算存在）\n\
          \        if status == 200:\n            return True\n\n        # 3) 常见“存在但不支持\
          \ Range”返回 416（需要进一步降级普通 GET/HEAD 才能确认）\n        if status == 416:\n   \
          \         return False\n\n        # 4) 其它状态一般认为不存在/不可访问（403 可能是防盗链/鉴权，不等于不存在）\n\
          \        return False\n\n    except requests.RequestException as e:\n  \
          \      return False\n    finally:\n        try:\n            r.close() \
          \ # type: ignore[name-defined]\n        except Exception:\n            pass\n\
          def main(book_id: int):\n    h = {\n        \"User-Agent\": \"url-checker/1.0\"\
          ,\n        \"Accept\": \"*/*\",\n    }\n\n    url = base_url+'book_'+str(book_id)+'_info.txt'\n\
          \    s = requests.Session()\n    des = ''\n    response = s.get(url, headers=h,\
          \ timeout=10, allow_redirects=True, stream=True)\n    if(url_exists_by_range(url)):\n\
          \        if response.status_code == 200:\n            response.encoding\
          \ = 'utf-8'  \n            des = response.text\n\n    return {\n       \
          \ \"book_des\": des\n    }"
        code_language: python3
        outputs:
          book_des:
            children: null
            type: string
        selected: false
        title: 获取书籍风格
        type: code
        variables:
        - value_selector:
          - '1778479530920'
          - book_id
          value_type: number
          variable: book_id
      height: 52
      id: '1779444863547'
      position:
        x: 620.5850231198373
        y: 344.0017318725586
      positionAbsolute:
        x: 620.5850231198373
        y: 344.0017318725586
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 91.4025942943008
      y: 144.3986892131009
      zoom: 0.6190189204605646
  rag_pipeline_variables: []
