Dify-DSL/段落高光生图-质量判断.yml
app:
  description: 从“LL-段落高光生图-效果测试2-优化版”中拆分出的质量判断专用工作流。只判断小说段落是否具备生成分镜图价值，不执行后续段落描述、底图检索或生图。
  icon: 🔎
  icon_background: '#E0F2FE'
  mode: workflow
  name: LL-段落高光生图-质量判断
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.15@725407927b04e236212083d20e92830d60fa944e42cd357ef6902c160414f6f1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 600
        batch_count_limit: 5
        file_size_limit: 600
        image_file_batch_limit: 10
        image_file_size_limit: 600
        single_chunk_attachment_limit: 10
        video_file_size_limit: 600
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1900000000001-source-1900000000002-target
      selected: false
      source: '1900000000001'
      sourceHandle: source
      target: '1900000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1900000000002-source-1900000000003-target
      selected: false
      source: '1900000000002'
      sourceHandle: source
      target: '1900000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1900000000003-source-1900000000004-target
      selected: false
      source: '1900000000003'
      sourceHandle: source
      target: '1900000000004'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: 可选，用于兼容现有批量工具
          label: 书籍id
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: number
          variable: book_id
        - default: ''
          hint: 需要判断是否具备分镜图生成价值的小说段落
          label: 段落内容
          max_length: 100000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: paragraph_content
        - default: ''
          hint: 可选，用于兼容现有批量工具
          label: 章节序号
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: number
          variable: chapter_sort
        - default: ''
          hint: 可选。传入网站当前 Prompt 版本；为空时使用工作流内置默认规则。
          label: 质量判断 Prompt
          max_length: 100000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: quality_prompt
      height: 196
      id: '1900000000001'
      position:
        x: 80
        y: 180
      positionAbsolute:
        x: 80
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 7e29a51e-c01a-4b89-96e0-6b32b2308a68
          role: system
          text: |
            你是一位严苛的 AI 绘画视觉总监。你的职责是判断小说段落是否具备生成“单帧分镜图”的价值。

            你必须优先使用【外部质量判断 Prompt】中的规则；如果外部 Prompt 为空，则使用【默认质量判断规则】。
            无论外部 Prompt 如何要求，最终都必须只输出严格 JSON，不要输出 Markdown，不要解释。

            【外部质量判断 Prompt】
            {{#1900000000001.quality_prompt#}}

            【默认质量判断规则】
            核心原则：AI 绘图模型只能稳定画出看得到的东西：人物、外貌、姿态、表情、服饰、道具、武器、建筑、地形、天气、颜色、光影、材质、损毁状态、空间关系、正在发生的动作。
            AI 绘图模型不能直接画出听得到的口号或感受到的抽象气势：命运、尊严、主宰、悲伤、压迫感、杀意、震撼、逆天、无敌、气势爆发、内心独白、关系解释、作者评价。
            只有当抽象情绪或气势被转化为可见表现时，才算视觉元素。例如：流血、跪地、拔剑、火焰缠绕手臂、暴雨打湿衣袍、宫殿坍塌、蓝色光芒照亮面庞。

            判断流程：
            1. 提取段落中真实存在的可见元素，包括人物、物体、环境、动作、姿态、表情、颜色、光影、材质、天气、损毁、空间关系。
            2. 识别非视觉内容，包括纯对话、口号、心理活动、抽象情绪、世界观解释、关系说明、时间跨度过长的过程。
            3. 只根据段落原文中的可见证据评分，不要奖励需要模型自行脑补的画面。
            4. 判断它能否定格成一张静态分镜图。如果主要内容是思考、回忆、解释、对话、长期过程，则降低评分。
            5. 优先保证精确率。拿不准时判为“无价值”，除非段落已经提供清晰主体、具体动作和具体环境。

            评分标准：
            1-3 分：视觉废料。纯对话、纯口号、纯心理描写、抽象概念堆砌、关系解释、剧情意义很大但没有具体画面。模型只能瞎编画面，无法还原原文。
            4-6 分：勉强可用。有可见主体或场景，但细节泛化，动作弱，构图不清，模型仍需脑补大量信息。默认判为无价值。只有当 6 分段落同时具备清晰主体、具体动作、具体环境，并且能形成非泛化画面时，才可判为有价值。
            7-8 分：优质素材。有明确主体、具体动作、清晰环境，并包含可见道具、服饰、身体状态、天气、建筑、战场、房间细节、怪物特征、法术效果或空间关系。
            9-10 分：视觉盛宴。主体、动作、环境、构图、光影、色彩、材质、情绪外显都较完整，生成图能明显区别于普通模板。

            二元判定：
            - 7-10 分：image_value = 有价值。
            - 1-5 分：image_value = 无价值。
            - 6 分边界：只有“清晰主体 + 具体动作 + 具体环境”三者同时成立，且画面不依赖大量脑补，才判为有价值；否则判为无价值。

            强制降分：
            - 只有口号、宣言、霸气台词，没有可见动作和场景：1-3 分，无价值。
            - 只有杀意、威压、气势、悲伤、震撼、主宰、命运等抽象词，没有可见表现：1-3 分，无价值。
            - 只有人物名字或身份，没有外貌、动作、环境、道具：1-4 分，无价值。
            - 纯对话即使情绪强烈，也默认无价值；除非对话周围有清晰可见的舞台、动作和构图。
            - 剧情很重要但不可见，不加分。
            - 模型必须发明主体、场景、服装、动作、光影、构图时，不得判为有价值。

            可提升：
            - 短段落也可以有价值，只要它提供了强烈的静态画面。
            - 抽象情绪可以加分，但前提是有可见外化表现，例如眼泪、伤口、颤抖、跪倒、火焰、破碎物、光线变化、环境崩塌。
            - 战斗、变身、灾难、仪式、处刑、重逢、死亡等题材不自动有价值；仍必须有可见主体、动作和环境。

            JSON 格式：
            {
              "score": 1,
              "image_value": "有价值",
              "recommendation": "强烈推荐",
              "visual_elements": ["元素1", "元素2"],
              "non_visual_elements": ["抽象内容1", "抽象内容2"],
              "reason": "一句话说明决定性原因",
              "calibration_note": "边界样本才填写；否则为空字符串"
            }

            字段约束：
            - score 必须是 1 到 10 的整数。
            - image_value 只能是“有价值”或“无价值”。
            - recommendation 只能是“强烈推荐”“推荐”“一般”“不推荐”。
            - visual_elements 只能列出原文中存在或直接可见的元素，没有则输出空数组。
            - non_visual_elements 列出口号、心理、抽象情绪、关系解释等不适合直接生图的内容，没有则输出空数组。
            - reason 要简短、准确指出为什么有价值或无价值。
            - calibration_note 仅在 6 分边界、规则冲突、或需要人工校验时填写。
        - id: 74d34ed5-8b27-48c1-975b-20a76acac19a
          role: user
          text: |
            高光段落：
            {{#1900000000001.paragraph_content#}}
        selected: false
        title: 质量判断
        type: llm
        vision:
          enabled: false
      height: 94
      id: '1900000000002'
      position:
        x: 420
        y: 190
      positionAbsolute:
        x: 420
        y: 190
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json
          import re

          def _extract_json(text):
              raw = (text or '').strip()
              if raw.startswith('```'):
                  raw = re.sub(r'^```(?:json)?\s*', '', raw)
                  raw = re.sub(r'\s*```$', '', raw)
              try:
                  return json.loads(raw)
              except Exception:
                  match = re.search(r'\{[\s\S]*\}', raw)
                  if match:
                      try:
                          return json.loads(match.group(0))
                      except Exception:
                          return {}
              return {}

          def _to_int(value, default=1):
              try:
                  number = int(float(str(value).strip()))
                  return max(1, min(10, number))
              except Exception:
                  return default

          def _score_from_text(text):
              match = re.search(r'综合评分[：:]\s*(\d+)', text or '')
              if match:
                  return _to_int(match.group(1), 1)
              match = re.search(r'"score"\s*:\s*(\d+)', text or '')
              if match:
                  return _to_int(match.group(1), 1)
              return 1

          def _recommendation(score):
              if score >= 9:
                  return '强烈推荐'
              if score >= 7:
                  return '推荐'
              if score >= 4:
                  return '一般'
              return '不推荐'

          def _as_list(value):
              if isinstance(value, list):
                  return [str(item).strip() for item in value if str(item).strip()]
              if isinstance(value, str):
                  text = value.strip()
                  if not text or text == '无':
                      return []
                  return [item.strip() for item in re.split(r'[,，、\n]', text) if item.strip()]
              return []

          def _normalize_image_value(value, score, recommendation, text):
              value_text = str(value or '').strip()
              if value_text in ('有价值', '无价值'):
                  return value_text
              if '无价值' in value_text:
                  return '无价值'
              if '有价值' in value_text:
                  return '有价值'
              if '不推荐' in str(recommendation or ''):
                  return '无价值'
              if '强烈推荐' in str(recommendation or '') or str(recommendation or '').strip() == '推荐':
                  return '有价值'
              if '不推荐' in (text or ''):
                  return '无价值'
              return '有价值' if score >= 7 else '无价值'

          def main(arg1: str):
              raw_text = (arg1 or '').strip()
              data = _extract_json(raw_text)
              score = _to_int(data.get('score'), _score_from_text(raw_text))
              recommendation = str(data.get('recommendation') or _recommendation(score)).strip()
              if recommendation not in ('强烈推荐', '推荐', '一般', '不推荐'):
                  recommendation = _recommendation(score)
              image_value = _normalize_image_value(data.get('image_value'), score, recommendation, raw_text)
              is_valid = 1 if image_value == '有价值' else 0
              visual_elements = _as_list(data.get('visual_elements'))
              non_visual_elements = _as_list(data.get('non_visual_elements'))
              reason = str(data.get('reason') or '').strip()
              calibration_note = str(data.get('calibration_note') or '').strip()

              report = {
                  'score': score,
                  'image_value': image_value,
                  'recommendation': recommendation,
                  'visual_elements': visual_elements,
                  'non_visual_elements': non_visual_elements,
                  'reason': reason,
                  'calibration_note': calibration_note
              }

              return {
                  'is_valid': is_valid,
                  'score': score,
                  'image_value': image_value,
                  'recommendation': recommendation,
                  'visual_elements': visual_elements,
                  'non_visual_elements': non_visual_elements,
                  'reason': reason,
                  'calibration_note': calibration_note,
                  'judgment_report': json.dumps(report, ensure_ascii=False),
                  'raw_text': raw_text
              }
        code_language: python3
        outputs:
          calibration_note:
            children: null
            type: string
          image_value:
            children: null
            type: string
          is_valid:
            children: null
            type: number
          judgment_report:
            children: null
            type: string
          non_visual_elements:
            children: null
            type: array[string]
          raw_text:
            children: null
            type: string
          reason:
            children: null
            type: string
          recommendation:
            children: null
            type: string
          score:
            children: null
            type: number
          visual_elements:
            children: null
            type: array[string]
        selected: false
        title: 解析质量判断
        type: code
        variables:
        - value_selector:
          - '1900000000002'
          - text
          value_type: string
          variable: arg1
      height: 52
      id: '1900000000003'
      position:
        x: 760
        y: 190
      positionAbsolute:
        x: 760
        y: 190
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1900000000003'
          - is_valid
          value_type: number
          variable: is_valid
        - value_selector:
          - '1900000000003'
          - score
          value_type: number
          variable: score
        - value_selector:
          - '1900000000003'
          - image_value
          value_type: string
          variable: image_value
        - value_selector:
          - '1900000000003'
          - recommendation
          value_type: string
          variable: recommendation
        - value_selector:
          - '1900000000003'
          - visual_elements
          value_type: array[string]
          variable: visual_elements
        - value_selector:
          - '1900000000003'
          - non_visual_elements
          value_type: array[string]
          variable: non_visual_elements
        - value_selector:
          - '1900000000003'
          - reason
          value_type: string
          variable: reason
        - value_selector:
          - '1900000000003'
          - calibration_note
          value_type: string
          variable: calibration_note
        - value_selector:
          - '1900000000003'
          - judgment_report
          value_type: string
          variable: judgment_report
        - value_selector:
          - '1900000000003'
          - raw_text
          value_type: string
          variable: raw_text
        selected: false
        title: 输出
        type: end
      height: 244
      id: '1900000000004'
      position:
        x: 1100
        y: 160
      positionAbsolute:
        x: 1100
        y: 160
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 120
      y: 140
      zoom: 0.72
  rag_pipeline_variables: []
